

h1 {
  font-size: 40px;
  font-family: Arial
}
h2 {
  font-size: 25px;
  font-family: Arial
}
h3 {
  font-family: Arial
}
p {
  font-size: 14px;
  font-family: Arial
}


/* General font styling */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Header styling */
.site-header {
  background-color: #2e8b57;   /* green (can change to blue later) */
  color: white;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

/* Logo + Title in one line */
.logo-container {
  display: flex;
  align-items: center;
  gap: 15px;   /* space between logo and text */
}

/* Logo size */
.logo {
  width: 60px;
  height: auto;
}

/* Header title */
.site-header h1 {
  font-size: 32px;
  margin: 0;
}
